* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f3f5f5;
}

.titre {
  font-family: "Lora", serif;
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
}

.text {
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 400;
}

.espace-titre {
  margin-bottom: 30px;
  margin-top: 30px;
}

.text-gras {
  font-family: "Lora", serif;
  font-size: 14px;
  font-weight: 800;
}

.goldButton {
  width: 75px;
  border: 2px solid #967b42;
  background-color: #967b42;
  font-family: "Open Sans", sans-serif;
  color: #f3f5f5;
  font-size: 8px;
  font-weight: 400;
  padding-left: 2px;
  padding-right: 2px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar a {
  text-decoration: none;
  margin: 20px;
  color: #292826;
  font-family: "Lora", serif;
  font-weight: 800;
}

.logo img {
  width: 50px;
}

.hero {
  background-color: #88c1cd;
}

.container-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-hero .text-hero {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-compo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-compo .text-derniere-compo {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img-derniere-compo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-derniere-compo img {
  width: 25%;
}

.container-propos {
  background-image: url("/images/gabriel-fondnoir.png");
  height: 75%;
  width: 100%;
}

.footer {
  background-color: #88c1cd;
  min-height: 100%;
  max-width: 100%;
}

.footer a {
  text-decoration: none;
}

.footer a img {
  width: 15px;
}

.text-footer {
  padding: 25px;
  font-family: "Lora", serif;
  color: #292826;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */