$backgroundColor: #f3f5f5;
$turquoise: #88c1cd;
$gold: #967b42;
$darkText: #292826;
$lightText: #f3f5f5;
$textFont: 'Lora', serif;
$subtitleFont: 'Open Sans', sans-serif;
$linkFont: 'Lora', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $backgroundColor;
}

.titre {
    font-family: $textFont;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: $darkText;
}

.text {
    font-family: $textFont;
    font-size: 20px;
    font-weight: 400;
    color: $darkText;
}
.titre-light {
    font-family: $textFont;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
    color: $lightText;
}

.text-light {
    font-family: $textFont;
    font-size: 20px;
    font-weight: 400;
    color: $lightText;
}
.espace-titre {
    margin-bottom: 30px;
    margin-top: 30px;
}
.espace-texte {
    margin-bottom: 15px;
    margin-top: 15px;
}
.text-gras {
    font-family: $textFont;
    font-size: 14px;
    font-weight: 800;
}
.container-button {
    width: 75px;
    border: 2px solid #967b42;
    background-color: $gold;
    margin-top: 15px;
    font-family: $subtitleFont;
    color: $lightText;
    font-size: 14px;;
    font-weight: 400;
    a {

    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        margin: 20px;
        color: $darkText;
        font-family: $textFont;
        font-weight: 800;
    }
    
    
}
.logo {
    img {
        width: 50px;
    }

}

.hero {
    background-color: $turquoise;
}

.container-hero {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .text-hero {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
.photo-hero {
    width: 50%;
    line-height: 0px;
    img {
        width: 100%;
    }
}
.container-compo {
   display: flex;
   justify-content: center;
   flex-direction: column;
   .text-derniere-compo {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
   }
}
.img-derniere-compo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    img {
        max-width: 25%;
    }

}
    
.container-propos {
        background-image: url("../images/gabriel-fondnoir.png");
        background-size: cover;
        background-position: 70%;
        background-repeat: no-repeat;
        width: 100%;
        z-index: -1;
        display: flex;
        flex-direction: column;
        padding: 20px;
        h2 {
            text-align: center;
        }
    }
    .propos-texte {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .footer {
    background-color: $turquoise;
    min-height: 100%;
    max-width: 100%;
    
    a {
        text-decoration: none;
        img {
            width: 15px;
        }
    }
}
.text-footer {
    padding: 25px;
    font-family: $textFont;
    color: $darkText;
    display: flex;
    justify-content: space-between;

}

